<!-- templates/edit_habit.html -->
{% extends 'base.html' %}

{% block title %}Edit Habit - Planify{% endblock %}

{% block content %}
<h1>Edit Habit</h1>
<form method="POST" action="{{ url_for('edit_habit', habit_id=habit['id']) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}<br>
        {{ form.name(value=habit['name'], size=50, class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.frequency.label }}<br>
        {{ form.frequency(value=habit['frequency'], class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.period.label }}<br>
        {{ form.period(value=habit['period'], class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{% endblock %}